<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/admin/sidebar.css}">
</head>

<body>

<aside class="sidebar">

    <div class="logo">
        <img class="logo" th:src="@{/images/logo-horizontal-escura.svg}" alt="Logo">
    </div>

    <div class="divider"></div>

    <nav class="menu">

        <a href="#" class="menu-item active">
            <span>◕</span> Dashboard
        </a>

        <a href="#" class="menu-item">
            <span>⚒</span> Produtos
        </a>

        <a href="#" class="menu-item">
            <span>▣</span> Pedidos
        </a>

        <a href="#" class="menu-item">
            <span>♟</span> Clientes
        </a>

        <a href="#" class="menu-item">
            <span>⚒</span> Estoque
        </a>

        <a href="#" class="menu-item">
            <span>✿</span> Cupons
        </a>

        <a href="#" class="menu-item">
            <span>⟳</span> Trocas
        </a>

        <a href="#" class="menu-item">
            <span>▤</span> Auditoria
        </a>

    </nav>

    <div class="menu-space"></div>

    <div class="divider"></div>

    <a href="#" class="menu-item logout">
        <span>↪</span> Sair
    </a>

</aside>

</body>
</html>