<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<header class="cabecalho" th:fragment="cabecalho">

    <!-- Primeira parte -->

    <div class="topo">
        <div class="logo-container">
            <img class="logo" th:src="@{/images/logo-horizontal-escura.svg}">
        </div>

        <div class="barra-de-pesquisa">
            <input type="text" placeholder="Pesquisar na PetVitta Club">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <!-- Menu -->
        <div class="menu">

            <!-- Carrinho -->
            <a th:href="@{/cliente/carrinho}" class="menu-container">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Carrinho</span>
            </a>

            <!-- Meus pedidos -->
            <a th:href="@{/cliente/pedido}" class="menu-container">
                <i class="fa-solid fa-box"></i>
                <span>Meus pedidos</span>
            </a>

            <!-- Notificacao -->
            <a href="#" class="menu-container">
                <i class="fa-solid fa-bell"></i>
            </a>

            <!-- Perfil -->
            <a th:href="@{/cliente/perfil}" class="menu-container">
                <i class="fa-solid fa-circle-user"></i>
            </a>

            <!-- Sair -->
            <a th:href="@{/cliente/login}" class="menu-container menu-sair" title="Sair da conta">
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>
        </div>
    </div>

    <!-- Segunda parte -->
    <nav class="categorias">
        <a th:href="@{/cliente/produtos}" class="categorias-container">Todos</a>
        <span class="divisor">|</span>
        <a href="#" class="categorias-container">Cachorros</a>
        <a href="#" class="categorias-container">Gatos</a>
        <a href="#" class="categorias-container">Petiscos</a>
        <a href="#" class="categorias-container">Rações</a>
        <a href="#" class="categorias-container">Suplementos</a>
    </nav>
</header>

</body>
</html>