<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div th:fragment="chatbot">

    <!-- Chatbot -->
    <div class="chatbot" id="chatbot">

        <!-- Cabeçalho -->
        <div class="chatbot-cabecalho">
            <div class="chatbot-titulo">

                <div class="chatbot-logo">
                    <img th:src="@{/images/logo-icone-chatbot.svg}">
                </div>

                <p>Assistente virtual</p>
            </div>

            <button type="button" class="btn-fechar-chatbot" id="btnFecharChatbot">&times;</button>
        </div>

        <!-- Conversa -->
        <div class="chatbot-mensagens" id="chatbotMensagens">

            <!-- Mensagem inicial do chatbot -->
            <div class="mensagem mensagem-bot">
                <p>
                    Olá! Seja bem-vindo(a) à PetVitta Club!
                    Sou sua assistente virtual e estou pronta
                    para ajudar com recomendações de rações,
                    petiscos, suplementos e muito mais.
                    É só me dizer o que você precisa!
                </p>
            </div>
        </div>

        <!-- Campo de mensagem -->
        <form class="chatbot-form" id="formChatbot">
            <input type="text"
                   id="inputChatbot"
                   placeholder="Digite sua mensagem">

            <button type="submit"
                    id="btnEnviarChatbot">
                <i class="fa-solid fa-paper-plane"></i>
            </button>
        </form>
    </div>

    <!-- Botão flutuante -->
    <button type="button"
            class="chatbot-botao"
            id="btnAbrirChatbot">

        <div class="chatbot-botao-icon">

            <img th:src="@{/images/logo-icone-chatbot.svg}">
        </div>
    </button>
</div>

</body>
</html>