<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<aside class="sidebar" th:fragment="sidebar">
    <div class="logo-container">
        <img class="logo" th:src="@{/images/logo-horizontal-escura.svg}">
    </div>

    <div class="linha"></div>

    <nav class="menu">

        <!-- Dashboard -->
        <a th:if="${paginaAtual == 'dashboard'}"
           th:href="@{/admin/dashboard}"
           class="menu-item ativo">
            <i class="fa-solid fa-chart-column"></i>
            <span>Dashboard</span>
        </a>

        <a th:unless="${paginaAtual == 'dashboard'}"
           th:href="@{/admin/dashboard}"
           class="menu-item">
            <i class="fa-solid fa-chart-column"></i>
            <span>Dashboard</span>
        </a>


        <!-- Produtos -->
        <a th:if="${paginaAtual == 'produtos'}"
           th:href="@{/admin/produtos}"
           class="menu-item ativo">
            <i class="fa-solid fa-bone"></i>
            <span>Produtos</span>
        </a>

        <a th:unless="${paginaAtual == 'produtos'}"
           th:href="@{/admin/produtos}"
           class="menu-item">
            <i class="fa-solid fa-bone"></i>
            <span>Produtos</span>
        </a>


        <!-- Pedidos -->
        <a th:if="${paginaAtual == 'pedidos'}"
           th:href="@{/admin/pedidos}"
           class="menu-item ativo">
            <i class="fa-solid fa-box"></i>
            <span>Pedidos</span>
        </a>

        <a th:unless="${paginaAtual == 'pedidos'}"
           th:href="@{/admin/pedidos}"
           class="menu-item">
            <i class="fa-solid fa-box"></i>
            <span>Pedidos</span>
        </a>


        <!-- Clientes -->
        <a th:if="${paginaAtual == 'clientes'}"
           th:href="@{/admin/clientes}"
           class="menu-item ativo">
            <i class="fa-solid fa-user"></i>
            <span>Clientes</span>
        </a>

        <a th:unless="${paginaAtual == 'clientes'}"
           th:href="@{/admin/clientes}"
           class="menu-item">
            <i class="fa-solid fa-user"></i>
            <span>Clientes</span>
        </a>


        <!-- Estoque -->
        <a th:if="${paginaAtual == 'estoque'}"
           th:href="@{/admin/estoque}"
           class="menu-item ativo">
            <i class="fa-solid fa-warehouse"></i>
            <span>Estoque</span>
        </a>

        <a th:unless="${paginaAtual == 'estoque'}"
           th:href="@{/admin/estoque}"
           class="menu-item">
            <i class="fa-solid fa-warehouse"></i>
            <span>Estoque</span>
        </a>

        <!-- Trocas -->
        <a th:if="${paginaAtual == 'trocas'}"
           th:href="@{/admin/trocas}"
           class="menu-item ativo">
            <i class="fa-solid fa-right-left"></i>
            <span>Trocas</span>
        </a>

        <a th:unless="${paginaAtual == 'trocas'}"
           th:href="@{/admin/trocas}"
           class="menu-item">
            <i class="fa-solid fa-right-left"></i>
            <span>Trocas</span>
        </a>
    </nav>

    <div class="menu-espaco"></div>
    <div class="linha"></div>

    <!-- Sair -->
    <a th:href="@{/admin/login}" class="menu-item">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Sair</span>
    </a>

</aside>
</body>
</html>