<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Titulo da página !-->
    <title>Login administrador</title>

    <link rel="stylesheet" href="../../../static/css/login.css">
</head>

<body>

<div class="conteudo">
    <div class="lado-esquerdo">
        <img class="logo" src="../../../static/images/login-logo.svg" alt="logo">

        <div class="container-principal">

            <h1>Seja bem-vindo!</h1>
            <p>Administre com inteligência e precisão</p>

            <form method="POST">
                <div class="input-grupo">
                    <label for="email">E-mail</label>
                    <input type="email"
                           id="email"
                           name="email"
                           placeholder="Digite seu e-mail"
                           required >
                </div>

                <div class="input-grupo">
                    <label for="senha">Senha</label>
                    <input type="password"
                           id="senha"
                           name="senha"
                           placeholder="Digite sua senha"
                           required >
                </div>

                <button type="submit"> Entrar </button>

            </form>
        </div>
    </div>

    <div class="lado-direito">
        <img src="../../../static/images/login-lado-direito.png" alt="ilustração">
    </div>

</div>
</body>
</html>