/* Filtros */
.direito {
    display: flex;
    justify-align: flex-end;
    align-items: center;
    gap: 12px;
    margin-left: auto;
}

/* Botão filtrar */
.btn-filtrar {
    width: auto;
    height: 36px;
    padding: 0 16px;
    border: 1px solid #D9E2E0;
    border-radius: 8px;
    background: #FFFFFF;
    color: #3A4A48;
    font-size: 16px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.btn-filtrar:hover,
.btn-limpar:hover {
    background: #EDF2F1;
}

.fa-eye {
    margin-right: 8px;
}

/* Botão cadastrar */
.btn-cadastrar {
    width: 200px;
    height: 36px;
    padding: 0 16px;
    border: none;
    border-radius: 8px;
    background: #0E1413;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    cursor: pointer;
}


.inativo {
    color: #8FA3A0;
}

/* Filtro */
.painel-filtro {
    background: #F8FAFA;
    border: 1px solid #D9E2E0;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
}

.painel-filtro.hidden {
    display: none;
}

.grid-filtros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.campo-filtro {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.campo-filtro label {
    display: block;
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 4px;
    color: #3A4A48;
}

.campo-filtro input,
.campo-filtro select {
    width: 100%;
    height: 48px;
    border: 1px solid #D9E2E0;
    border-radius: 8px;
    outline: none;
    padding: 0 12px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #1F2A29;
    background: #ffffff;
}

/* Botoes da acao do filtro */
.acoes-filtro {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 16px;
    padding-top: 12px;
    border-top: 1px solid #E2E8E7;
}

.btn-limpar {
    width: auto;
    height: 32px;
    padding: 0 16px;
    border: 1px solid #D9E2E0;
    border-radius: 8px;
    background: #FFFFFF;
    color: #3A4A48;
    font-size: 16px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.btn-aplicar {
    width: auto;
    height: 32px;
    padding: 0 16px;
    border: none;
    border-radius: 8px;
    background: #0E1413;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    cursor: pointer;
}


