/* Filtros */
.filtros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.botoes {
    width: fit-content;
    display: flex;
    gap: 16px;
    background: #D9E2E0;
    border-radius: 8px;
    padding:4px;
}

.btn-filtro.active {
    background: white;
    border-radius: 6px;
    padding: 4px 8px;
}

/* Modal */
.btn-confirmar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 32px;
    padding: 0 16px;
    border: none;
    border-radius: 8px;
    background: #1C9B86;
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

/* Linha */
.item-estoque-linha {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

/* Fonte do texto */
.texto-item {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #1F2A29;
}

/* Checkbox */
.checkbox {
    width: 20px;
    height: 20px;
    accent-color: #1C9B86;
    cursor: pointer;
}

