@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&family=Nunito:wght@400;500;600;700&display=swap');

/* Resetar espçamento definido pelo navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #E8EFEE;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding: 40px;
    gap: 24px;
}


/* Toast */
.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
    align-items: center;
    gap: 10px;
    padding: 14px 20px;
    background-color: #1C9B86;
    color: white;
    border-radius: 8px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 600;
    z-index: 1000;
}

.toast.ativo {
    display: flex;
}

/* Toast de erro */
.toast:has(.fa-circle-xmark) {
    background-color: #EA2B41;
}

.toast-icone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: white;
}