.container-principal {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 16px 20px;
    width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.cabecalho-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: 'Fredoka', sans-serif;
}

h1 {
   font-size: 16px;
   font-weight: 500;
   color: #1F2A29;
   margin: 0;
}

/* Card pedido */
.card-pedido {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E1E9E7;
    border-radius: 8px;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
}

.cabecalho-pedido {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 2px 8px;
}

.informacoes-pedido {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.informacoes-pedido h2 {
    margin: 0;
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #3A4A48;
}

.informacoes-pedido p {
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #5F7370;
}

/* Status do pedido */
.status-pedido {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    color: #FFFFFF;
    border-radius: 8px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 32px;
}

.pagamento-recusado {
    background: #EF2945;
}

.entregue {
    background: #1C9B86;
}

.pedido-cancelado {
    background: #EA2B41;
    color: #FFFFFF;
}

.em-transito {
    background: #5F7370;
}

.aprovado {
    background: #8ABDE1;
}

.em-processamento {
    background: #E1CE8A;
}

.troca-autorizada {
    background: #0E1413;
    color: white;
}

.troca-finalizada {
    background: #0E1413;
    color: white;
}

.container-status-troca {
    display: flex;
    gap: 8px;
}

.btn-branco {
    width: auto;
    height: 32px;
    font-family: 'Fredoka', sans-serif;
    background: white;
    border: 1px solid #1C9B86;
    border-radius: 8px;
    padding: 0px 8px;
    font-size: 14px;
    font-weight: 500;
    color: #1C9B86;
    cursor: pointer;
}

.btn-branco:hover,
.btn-cancelar-pedido {
    background: #EDF2F1;
}

.btn-cancelar-pedido {
    width: auto;
    height: 32px;
    font-family: 'Fredoka', sans-serif;
    background: white;
    border: 1px solid #EA2B41;
    border-radius: 8px;
    padding: 0px 8px;
    font-size: 14px;
    font-weight: 500;
    color: #EA2B41;
    cursor: pointer;
}

/* Pedidos */
.linha-pedido {
    width: 100%;
    height: 1px;
    background: #E5EBE9;
    margin-bottom: 10px;
}

.produtos-pedido {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 8px;
}

.produto-pedido {
    display: flex;
    align-items: center;
    min-height: 82px;
}

/* Imagem */
.imagem-produto-pedido {
    width: 72px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.imagem-produto-pedido img {
    width: 60px;
    height: 72px;
    object-fit: contain;
}

/* Dados */
.dados-produto-pedido {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-left: 8px;
}

.dados-produto-pedido h3 {
    margin: 0;
    font-family: 'Fredoka', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #1F2A29;
}

.dados-produto-pedido p {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #3A4A48;
}


/* Resumo do pedido */
.resumo-pedido {
    margin-top: 8px;
    padding: 8px;
    background: #F5F8F7;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.linha-resumo-pedido {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linha-resumo-pedido p {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #60716E;
}

/* Desconto */
.linha-resumo-pedido.desconto p {
    color: #1C9B86;
}

/* Frete */
.linha-resumo-pedido.frete p {
    color: #60716E;
}

/* Total */
.linha-resumo-pedido.total {
    margin-top: 2px;
}

.linha-resumo-pedido.total p {
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #3A4A48;
}

