.container-principal {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h1 {
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #1F2A29;
    margin: 0;
}

/* Card de dados pessoais */
.card {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 16px 20px;
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.container-principal h2 {
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background: #1F2A29;
    color: white;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
}


/* Formulário */
.form-dados-pessoais,
.form-alterar-senha {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.campo-grupo {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.linha-campos {
    display: flex;
    gap: 16px;
    width: 100%;
}

.campo-grupo label {
    font-family: 'Fredoka', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #3A4A48;
}

/* Inputs e Selects */
.campo-grupo input,
.campo-grupo select {
    width: 100%;
    height: 40px;
    padding: 0 16px;
    border: 1px solid #D9E2E0;
    border-radius: 8px;
    background-color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #3A4A48;
    outline: none;
}

.campo-grupo input::placeholder {
    color: #B8C7C3;
}

/* Botão Salvar */
.container-btn-salvar {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}

.btn-salvar,
.btn-salvar-senha,
.btn-adicionar-endereco,
.btn-abrir-cartao {
    width: auto;
    padding: 0px 12px;
    height: 38px;
    background-color: #4FD1B5;
    border: none;
    border-radius: 8px;
    font-family: 'Fredoka', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-salvar:hover,
.btn-salvar-senha:hover,
.btn-adicionar-endereco:hover,
.btn-abrir-cartao:hover {
    background-color: #37937F;
}

li {
    color: #5F7370;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

ul {
  list-style-type: none;
}

/* Endereços */
.lista-enderecos {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item-endereco {
    border: 1px solid #D9E2E0;
    border-radius: 8px;
    padding: 14px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cabecalho-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.cabecalho-item h3 {
    margin: 0 0 6px 0;
    font-family: 'Fredoka', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #1F2A29;
}

.item-endereco p {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #5F7370;
    font-weight: 500;
}


/* Status do endereço */
.status-endereco {
    display: inline-flex;
    align-items: center;
    padding: 4px 9px;
    border-radius: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 11px;
    font-weight: 600;
}

.entrega {
    background-color: #1C9B86;
    color: white;
}

.cobranca {
    background-color: #E1CE8A;
    color: white;
}


/* Ações */
.acoes-item {
    display: flex;
    gap: 6px;
}

.btn-editar,
.btn-excluir {
    width: 32px;
    height: 32px;
    border: 1px solid #D9E2E0;
    background: #FFFFFF;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

.btn-editar {
    color: #E1CE8A;
}

.btn-excluir {
    color: #EA2B41;
}

/* Cartões */
.lista-cartoes {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item-cartao {
    border: 1px solid #D9E2E0;
    border-radius: 8px;
    padding: 14px 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item-cartao h3 {
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #3A4A48;
    display: flex;
    align-items: center;
    gap: 4px;
}

/* Status do cartão */
.status-cartao {
    display: inline-flex;
    padding: 4px 9px;
    border-radius: 20px;
    background-color: #1C9B86;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

/* Informações do cartão */
.informacoes-cartao {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.informacoes-cartao p {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #5F7370;
    font-weight: 500;
}


/* Cupons */
.lista-cupons {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item-cupom {
    border: 1px solid #D9E2E0;
    border-radius: 8px;
    padding: 14px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.dados-cupom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

h4 {
    font-family: 'Fredoka', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #3A4A48;
}

/* Tipo do cupom */
.tipo-cupom {
    padding: 4px 9px;
    border-radius: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 600;
    width: auto;
}

.tipo-cupom.troca {
    background-color: #E1CE8A;
    color: white;
}

.tipo-cupom.promocional {
    background-color: #1C9B86;
    color: white;
}

/* Valor */
.valor-cupom {
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #3A4A48;
}


/* Ajustes */
.largura-total {
    width: 100%;
}

.requisitos-senha {
    padding: 0;
    margin: 0;
}

/* Mensagem de erro */
.mensagem-erro {
    display: block;
    color: #d93025;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    margin-top: 5px;
}

/* Olho */
.campo-senha {
    position: relative;
    width: 100%;
}

/* Input da senha */
.campo-senha input {
    width: 100%;
    height: 40px;

    padding: 0 45px 0 16px;

    border: 1px solid #D9E2E0;
    border-radius: 8px;

    background-color: #FFFFFF;

    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #3A4A48;

    outline: none;
    box-sizing: border-box;
}

/* Olho */
.btn-mostrar-senha {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: transparent;
    color: #1C9B86;
    font-size: 15px;
    cursor: pointer;
    z-index: 2;
}

/* Ícone */
.btn-mostrar-senha i {
    pointer-events: none;
}

/* Toast */
.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
    align-items: center;
    gap: 10px;
    padding: 14px 20px;
    background-color: #1C9B86;
    color: white;
    border-radius: 8px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 600;
    z-index: 1000;
}

.toast.ativo {
    display: flex;
}

.toast-icone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: white;
}